<% content_for :title, 'Guess Word Game' %>

<div class="text-right mb-4">
  <%= link_to 'Ranking', rankings_path, class: 'px-2' %>
  <%= link_to 'About', abouts_path %>
</div>

<div class="my-4">
  <h4 class="display-4 font-weight-bold">
    <span class="bg-dark text-white p-2">Welcome to</span>
  </h4>
  <h4 class="display-4 font-weight-bold">
    <span class="bg-dark text-white p-2">guess-word game</span>
  </h4>
</div>

<%= render 'shared/messages' %>

<%= form_with(model: @user, url: users_path, method: :post, local: true) do |form| %>
  <div class="my-4">
    <%= form.text_field :name,
                        placeholder: 'Masukan nama kamu',
                        autocomplete: "off",
                        class: 'form-control' %>
  </div>
  <div>
    <%= form.submit "Mulai Bermain", class: 'btn btn-primary' %>
  </div>
<% end %>